.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    height: 350px;
    width: 350px;
}

.flexi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.related {
    height: 50px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    background-color: rgb(0, 0, 27);
  }


  @media (max-width: 768px) {
    .flexi {
      flex-direction: column;
      gap: 0.5rem;
      padding: 10px;
    }
  
    .img img {
      width: 90%;
      height: auto;
    }
  
    .related {
      margin-top: 20px;
      font-size: 12px;
      padding: 10px;
      border-radius: 10px;
    }
  }
  